<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<h2>Comments</h2>
<% @event.attendees.each do |attendee| %>
  <p>
    <strong>Commenter:</strong>
    <%= attendee.userame %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= attendee.user_id %>
  </p>

<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<%= form_with model: [ @event, @event.attendees.build ] do |form| %>
  <p>
    <%= form.text_field :userame, value: current_user.email, type: :hidden %>
  </p>
  <p>
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </p>
  <p>
    <%= form.submit "Attend event" %>
  </p>
<% end %>