<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<h2>Comments</h2>
<% @event.attendees.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.userame %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.user_id %>
  </p>

  <%= link_to 'Destroy', [comment.event_id, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<h2>Add a comment:</h2>
<%= form_with model: [ @event, @event.attendees.build ] do |form| %>
  <p>
    <%= form.text_field :userame, value: current_user.email %>
  </p>
  <p>
    <%= form.text_area :user_id, value: current_user.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>